@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Urbanist', sans-serif;
}

html{
    font-size: 62.5%;
}

p, li, a{
    font-family: 'Urbanist', sans-serif;
    font-size: 1.8rem;
    letter-spacing: .1rem;
    color: var(--para-color);
    line-height: 1.5;
}

a{
    text-decoration: none;
}

li{
    list-style-type: none;
}

:root{
    --main-color:#0062ff;
    --supporting-color: #ebf3fe;
    --font-color: #424242;
    --bg-color: #ffffff;
    --heading-color:#000a19;
    --hero-heading-color:#0a043c;
    --white-color: #fff;
    --test:#070101;
    --para-color:#504e4d;
    --btn-hover-bg-color: #003b99;
    --btn-box-shadow: rgba(100,100,111,.2) 0px 7px 29px 0px;
}


.container{
    max-width: 142rem;
    margin: 0 auto;
    padding: 9.6rem 2.4rem;
}

.navbar-section{
    width: 100%;
    box-shadow: rgba(0,0,0,.05) 0px 6px 24px 0px, rgba(0,0,0,0.08) 0px 0px 0px 1px;
}

.navbar-section .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.8rem 0;

    & .navbar-brand a img{
        width: 100%;
        height: auto;
    }
}


.navbar-section .navbar ul{
    display: flex;
    gap: 3.2rem;

    & li a{
        color: var(--heading-color);
        text-transform: uppercase;
        font-weight: 600;
        font-size: 1.6rem;
        position: relative;
        display: inline-block;

        &::after{
            content: "";
            position: absolute;
            bottom: -.3rem;
            left: 0;
            width: 0%;
            border-bottom: .2rem solid var(--main-color);
            transition: all .2s linear;
        }
    }

    & li a:hover::after{
        width: 100%;
    } 
}

/* hero section */

.grid{
    display: grid;
}

.grid-two--cols{
    grid-template-columns: repeat(2,1fr);
}

.btn{
    display: inline-block;
    padding: 1.2rem 3.2rem;
    background-color: var(--main-color);
    color: var(--white-color);
    border-radius: .6rem;
}

.btn:hover{
    background-color: var(--btn-hover-bg-color);
    cursor: pointer;
    box-shadow: var(--btn-box-shadow);
}

main{
    background-image: linear-gradient(
        to top right, #3d86fa,#4484fb, #679eff, #b3d2ff, #ebf3fe
    );
    position: relative;
}

.hero-section .grid{
    align-items: center;
    gap: 6.4rem;

    & .hero-subheading{
        text-transform: uppercase;
        letter-spacing: 0.3rem;
        font-size: 1.7rem;
        word-spacing: .2rem;
        color: var(--hero-heading-color);
        font-weight: 700;
    }

    & .hero-heading{
        font-size: 5.8rem;
        font-family: 'Jost';
        color: var(--hero-heading-color);
        line-height: 1.4;
        font-weight: 900;
    }

    & .hero-para{
        color: var(--white-color);
        margin: 2rem 0 4.2rem 0;
    }
}

.hero-section--image{
    width: 100%;
    height: auto;
    /* margin-left: 10%; */
    /* transform: rotate(-3deg); */
}

/* shape divider in hero section */

.custom-shape-divider-bottom-1751273263 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1751273263 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 124px;
}

.custom-shape-divider-bottom-1751273263 .shape-fill {
    fill: #FFFFFF;
}


/* about section */
.grid-three--cols{
    grid-template-columns: repeat(3,1fr);
}

.about-section .grid{
    gap: 6.4rem;
}

.section-common-heading{
    font-size: 3.2rem;
    font-weight: 700;
    text-transform: capitalize;
}

.section-common-subheading{
    color: var(--heading-color);
}

.section-common--title{
    font-size: 2rem;
    margin: 2.4rem 0 1.2rem 0;
}

.about-section img{
    padding: 2.4rem;
    background-color: var(--supporting-color);
    width: 12rem;
    height: 12rem;
    border-radius: 50%;
    transition: all .3s linear;
}

.about-section .about-div{
    text-align: center;
} 

.about-div .icon:hover > img{
    transform: rotate(360deg);
    background-image: linear-gradient(to right, #0575e6, #021b79);
}



/* course section */
.grid-four--cols{
    grid-template-columns: repeat(4,1fr);
}

.course-section .grid{
    gap: 3.2rem;
}

.course-section .course-div{
    padding: 3.2rem;
}

.course-section .course-div:hover{
    box-shadow: var(--btn-box-shadow);
}

.course-div:nth-child(2) .icon .fa-solid{
    color: #68bf9b;
    background-color: #e7f6ef;
}

.course-div:nth-child(3) .icon .fa-solid{
    color: #ff8b52;
    background-color: #fbebe8;
}

.course-div:nth-child(4) .icon .fa-solid{
    color: #183d3d;
    background-color: #ccf7f7;
}

.course-div:nth-child(5) .icon .fa-solid{
    color: #D988B9;
    background-color: rgb(247,223,238);
}

.course-div:nth-child(6) .icon .fa-solid{
    color: #FF9B50;
    background-color: #f6dfce;
}

.course-div:nth-child(7) .icon .fa-solid{
    color: #1450A3;
    background-color: #dce9fa;
}

.fa-solid{
    padding: 2.4rem;
    background-color: var(--supporting-color);
    font-size: 2.4rem;
    border-radius: 50%;
    color: var(--hero-heading-color);
}
